.sectionContainer {
  margin: 0 auto;
  padding: 2rem 0 0 0;
  width: fit-content;
}

.flexContainer {
  display: flex;
  flex-direction: column;

  :nth-child(2n) {
    background-color: rgba(rgba(255, 255, 255, 0.7), 0.1);
    box-shadow: 1px 0 0 1px rgba(255, 255, 255, 0.7);
  }
}

.flexHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 1rem;
  border-bottom: 1px solid #e2e8f0;
}

.aiu-system {
  color: lightblue;
}
.aiu {
  color: blue;
}
.cal-southern {
  color: red;
}
.default {
  color: black;
}
