.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;

  max-width: 120px;
}

.tags {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  max-height: 42px;
  overflow-y: scroll;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 0.1rem;
  margin: 0.1rem;

  font-size: xx-small;

  border: 1px solid #e2e8f0;
  border-radius: 5px;
  background: transparent;
}
